<div class="col-lg-3">
    <div class="all-category">
        <h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>CATEGORIES</h3>
        <ul class="main-category">

    
            <li><a href="#">Grocery</a></li>
            <li><a href="#">Rice</a></li>
            <li><a href="#">Fish</a></li>
            <li><a href="#">Oil</a></li>
            <li><a href="#">Vegetables</a></li>
            <li><a href="#">Beverages</a></li>
            <li><a href="#">Meat</a></li>
            <li><a href="#">Bakery & Snacks</a></li>
            <li><a href="#">Dairy</a></li>
        </ul>
    </div>
</div>